header {
  width: 100vw;
  font-size: 2rem;
  background: rgb(255, 255, 255);
  position: fixed;
  z-index: 99;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  text-decoration: none;
  color: rgb(25, 25, 25);
}
